.hero {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: (1280px - 120px); // Max width of 1280px including side margins of 60px
  width: 90%;

  &::before {
    content: "";
    width: 100vw;
    height: 500px;
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: -1;
    @media screen and ( max-width: 767px ) {
      display: none;
    }
  }
}

.textPane {
  color: #202020;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  max-width: 600px;
  margin-top: 100px;
  @media screen and ( max-width: 600px ) {
    margin-top: 40px;
  }
}

.title {
  font-size: 56px;
  font-weight: 600;
  @media screen and ( max-width: 600px ) {
    font-size: 29px;
  }
}

.description {
  font-size: 18px;
  margin-top: 20px;
  @media screen and ( max-width: 600px ) {
    font-size: 14px;
    margin-top: 10px;
  }
}
