@import 'app/styles/utils/_colors.scss';

.wrapper {
  margin-top: 40px;
  @media screen and ( max-width: 800px ) {
    margin-top: 20px;
  }
}

.list {
  display: flex;
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.item {
  flex: 1 1 33%;
  max-width: 33.33%;
  @media screen and ( max-width: 800px ) {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
}

.cardLink {
  color: #0025E4;
  display: block;
}

.card {
  background: $color-white;
  border-radius: 3px;
  display: flex;
  transition: all 200ms ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px 20px;
  @media screen and ( max-width: 800px ) {
    min-height: 0;
    margin: 5px 10px;
  }

  .cardLink:focus &, .cardLink:hover & {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .cardLink:active & {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  }
}

.cardText {
  font-size: 18px;
  @media screen and ( max-width: 800px ) {
    font-size: 15px;
  }
}
