.housing-block-counseling {
  background-image: url(../assets/img/housing-block-counseling);
}

.housing-block-subsidies {
  background-image: url(../assets/img/housing-block-subsidies);
}

.housing-block-dahlia {
  background-image: url(../assets/img/housing-block-dahlia);
}
