.housing-block-counseling {
  background-image: url(../assets/img/housing-block-counseling.png);
}

.housing-block-subsidies {
  background-image: url(../assets/img/housing-block-subsidies.png);
}

.housing-block-dahlia {
  background-image: url(../assets/img/housing-block-dahlia.png);
}
