.legal-block-housing {
  background-image: url(../assets/img/legal-block-housing.png);
}

.legal-block-immigration {
  background-image: url(../assets/img/legal-block-immigration.png);
}

.legal-block-family {
  background-image: url(../assets/img/legal-block-family.png);
}

.legal-block-criminal {
  background-image: url(../assets/img/legal-block-criminal.png);
}

.legal-block-work {
  background-image: url(../assets/img/legal-block-work.png);
}

.legal-block-benefits {
  background-image: url(../assets/img/legal-block-benefits.png);
}
