//////////////////////////////////////////////////////////////////////////////////////////
// ORG TABLE STYLES

.results-filters {
  @extend %font-size-tiny;
  background: $color-grey1;
  font-weight: bold;
  padding: calc-em(10px) calc-em(20px);
  color: $color-grey5;
  li {
    display: inline-block;
    margin-right: calc-em(15px);
    .filters-button {
      font-weight: 600;
      text-decoration: none;
      color: $color-brand;
      &:hover {
        color: $color-grey4;
      }
    }
  }
}

.results-table-body {
  flex: 1 1 auto;
}

.results-algolia-logo-wrapper {
  margin-top: 1em;
}

.results-algolia-logo {
  max-height: 1.5em;
}

.pagination {
  padding: calc-em(30px) calc-em(20px);

  .pagination-count {
    @extend %font-size-small;
    color: $color-grey5;
    margin-bottom: calc-em(10px);
  }

  .btn:first-of-type {
    margin-right: calc-em(10px);
  }
}
