// Filtering styles //
.filter-container.flex-height {
  height: auto;
}
.filters-icon {
  height: calc-em(15px);
  padding: 0px 3px 3px 0px;
}
.refine-btn {
  border: none;
  padding: 5px 10px 5px 0px;
  color: #276ce5;
  font-weight: 400;
  font-size: 15px;
}
.refine-btn.active {
  font-weight: 500;
}
.custom-refinement {
  height: 0px;
  display: block;
  margin: 0px;
  opacity: 0;
}
.custom-refinement.active {
  height: auto;
  margin: 20px 5px;
  opacity: 1;
}
.refinement-wrapper {
  border-top: 1px solid $color-grey1;
  border-bottom: 1px solid $color-grey1;
  width: 50%;
  padding: 5px;
}
.refinement-title {
  font-size: 15px;
  font-weight: 600;
  color: #666666;
}
.refinement-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: calc-em(150px);
  padding: 5px;
}
.refinement-li {
  padding: 5px 0px;
  color: #666666;
}
.refine-li {
  &.refine-li-disabled {
    color: $color-grey4;
  }
  &.active {
    color: #276ce5;
    font-weight: 500;
  }
}
.refine-checkbox {
  margin-bottom: calc-em(10px);
  margin-right: calc-em(5px);
  width: auto;
}

// search result table styles
.search-box {
  display: none;
}

@mixin result-body {
  p {
    font-size: calc-em(15px);
    line-height: calc-em(19px);
    color: $color-grey6;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  margin-right: calc-em(20px);
  height: calc-em(60px);
  padding-bottom: calc-em(6px);
  text-overflow: ellipsis;
  overflow: hidden;
  //overflow-x: hidden;
}



.line-break {
  background-color: $color-grey1;
  height: calc-em(1px);
  margin: 0 calc-em(30px);
}
