.homePageBackground {
  width: 100vw;
  height: 500px;
  background-image: url(./assets/hero.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 1;
  @media screen and ( max-width: 767px ) {
    display: none;
  }
}
