.partners {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 70px;
}

.partners ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 90%;
  max-width: 1600px;
  @media screen and (max-width:  767px) {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}

.partners li {
  height: 90px;
  margin: 15px;
}

.partners li header {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 15px;
  color: rgba(0,0,0,0.38);
}
