@import 'app/styles/utils/_colors.scss';

$row-height: 60px;

.form {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 30px;
}

.textInputWrapper {
  flex: 1 1 0;
  margin-right: 20px;
  @media screen and ( max-width: 600px ) {
    margin-right: 0;
  }
}

.textInput {
  background:
    url("../../../../assets/img/ic-search-blue.svg") center left 15px no-repeat;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  height: $row-height;
  padding-left: 45px;

  &::placeholder {
    font-style: normal;
  }
  &:active, &:focus {
    border: 1px solid $color-brand;
  }
}

.submitWrapper {
  flex: 0 0 auto;
}

.submit {
  background-color: $color-brand;
  border-radius: 3px;
  font-size: 16px;
  height: $row-height;
  width: 180px;
  &:focus, &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  &:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  }
  @media screen and ( max-width: 600px ) {
    display: none;
  }
}
