@import '../../styles/utils/_helpers.scss';

.pop-up-message {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 100px;
  left: 0;
  right: 0;
  color: white;
  min-height: 50px;
  width: 300px;
  text-align: center;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s; /* Safari */

  &.success {
    background-color: $color-status-green;
  }

  &.error {
    background-color: $color-status-red;
  }

  &.hidden {
    opacity: 0;
  }
}
