////////////////////////////////////////////////////////////////////////////////////////
// HELPERS

@import '_mixins';
@import '_colors';
@import '_layoututils';

////////////////////////////////////////////////////////////////////////////////////////
// TABLE VIEW

%table-view {
  @extend %flex-column;
  margin: calc-em(20px) 0;
  li {
    @extend %flex-row;
    height: calc-em(60px);
    border-bottom: 1px solid $color-grey2;
    margin-left: calc-em(20px);
    background-repeat: no-repeat;
    background-size: calc-em(8px) calc-em(12px);
    background-position: 95% center;
    text-align: left;
    p {
      flex: 1 1 auto;
      text-align: left;
    }
    &:last-of-type {
      border-bottom: 0;
    }
  }
  %table-view-image {
    width: calc-em(32px);
    height: calc-em(32px);
    margin: calc-em(12px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

table {
  width: 100%;

  tr {
    transition: all 0.2s ease-in-out;

    th, td {
      padding: 10px;
      text-align: left;

      &.iconcell {
        max-width: $padding-xxlarge;
        $padding: 10px $padding-default
      }
    }

    th {
      font-weight: bold;
      color: $color-textfade;
    }

    &:hover {
      background: $color-grey1;
    }
  }

  &.compact {
    width: auto;

    tr {
      td, th {
        padding: $padding-default $padding-large;
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////
// TYPEFACES

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap');


$font-family-base: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;

////////////////////////////////////////////////////////////////////////////////////////
// FONT SIZES

%font-size-hero {
  font-size: calc-em(36px);
  line-height: calc-em(43px);
  @include r_max($break-tablet-s) {
    font-size: calc-em(21px);
    line-height: calc-em(30px);
  }
}

%font-size-sub-hero {
  font-size: calc-em(15px);
  line-height: calc-em(20px);
  @include r_max($break-tablet-s) {
    display: none;
  }
}

%font-size-x-large {
  font-size: calc-em(30px);
  line-height: calc-em(36px);
  @include r_max($break-tablet-s) {
    font-size: calc-em(28px);
    line-height: calc-em(38px);
  }
}
%font-size-large {
  font-size: calc-em(24px);
  line-height: calc-em(30px);
  @include r_max($break-tablet-s) {
    font-size: calc-em(22px);
    line-height: calc-em(27px);
  }
}
%font-size-medium {
  font-size: calc-em(19px);
  line-height: calc-em(23px);
}

%font-size-default {
  font-size: calc-em(17px);
}
%font-size-small {
  font-size: calc-em(15px);
}
%font-size-tiny {
  font-size: calc-em(13px);
}

////////////////////////////////////////////////////////////////////////////////////////
// FONT STYLES

html, body {
  font-size: $font-size;
  line-height: 1.25;
  font-family: $font-family-base;
  font-weight: 400;
  word-wrap: break-word;
  color: $color-grey8;
}

h1 {
  @extend %font-size-x-large;
  font-weight: 400;
  hyphens: auto;
}
h2 {
  @extend %font-size-large;
  font-weight: 400;
  color: $color-grey5;
}
h3 {
  @extend %font-size-medium;
  font-weight: 700;
}
h4 {
  @extend %font-size-medium;
  font-weight: 700;
  color: $color-grey5;
}
h5 {
  @extend %font-size-default;
  font-weight: 700;
}
p {
  @extend %font-size-default;
  font-weight: 400;
}
small {
  @extend %font-size-small;
}

a {
  color: $color-brand;
  cursor: pointer;
  &:hover {
    color: $color-brand-dark;
    text-decoration: underline;
  }
  @include transition(all .2s);
}

em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
button{
  font-family: $font-family-base;
  cursor: pointer;
}
textarea, input{
  font-family: $font-family-base;
}
%hide-text {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
::-moz-selection {
  background: $color-brand-light;
}
::selection {
  background: $color-brand-light;
}

p.message {
  color: $color-textfade;
  padding: $padding-large;
}

////////////////////////////////////////////////////////////////////////////////////////
// MATERIAL ICONS

.material-icons {
  vertical-align: middle;
  position: relative;
  top: -2px;

  &.blue {
    color: $color-brand;
  }
}

////////////////////////////////////////////////////////////////////////////////////////
// MARKDOWN COMPONENT OVERRIDES

.org--main--header--description,
.service--description {
  h1 {
    @extend %font-size-medium;
    font-weight: 700;
    color: $color-grey5;
  }

  h2 {
    @extend %font-size-small;
    font-weight: 700;
    color: $color-grey5;
  }

  h3,
  h4,
  h5,
  h6 {
    @extend %font-size-small;
    font-weight: 400;
    color: $color-grey5;
  }
}

////////////////////////////////////////////////////////////////////////////////////////
// INTERCOM OVERRIDES
.intercom-launcher-frame {
  z-index: auto !important;
}
