@import '../../styles/utils/helpers';

.action-sidebar {
  margin: $padding-xlarge 0;

  li {
    text-align: center;
    border: 1px solid $color-grey2;
    width: 128px;
    height: 128px;

    a {
      color: $color-textfade;
      padding: $padding-xlarge 0;
      display: flex;
      flex-direction: column;
      width: 128px;
      height: 128px;

      img {
        display: block;
        margin: $padding-default $padding-default $padding-large;
        font-size: $padding-xxlarge;
      }
      span {
        font-size: $padding-large;
      }
    }

    &:hover {
      background: $color-grey2;
      color: $color-title;
    }
  }
}
