.site-footer {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1 0 30vh;
  color: #fff;
  min-height: 100px;
  background-color: #757f87;
  padding: 50px 0;
  font-size: .9em;
  a {
    color: rgba(255,255,255,0.7);
    &:hover {
      color: rgba(255,255,255,1);
    }
  }
}

.site-footer__links {
  flex: 1 1 50%;
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 960px) {
    display: none;
  }

  & > ul {
    h1 {
      font-weight: 900;
      text-transform: uppercase;
    }

    li, h1 {
      padding-bottom: 10px;
      @media screen and (max-width: 960px) {
        display: none;
        text-align: center;
        &:not(:last-child) {
          padding-right: 0;
        }
      }
    }
  }
}

.site-footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 1280px;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    width: auto;
  }
}

.service-guide {
  flex: 2 2 0;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 900;
}

.service-guide__icon {
  background-image: url(./footer-icon.png);
  background-repeat: no-repeat;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.service-guide__text {
  text-transform: uppercase;
}

.site-footer__top {
display: flex;
}

.site-footer__disclosure {
  text-align: center;
  padding-top: 80px;
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
    padding: 25px;
  }
}
