.landing-page-resource-block {
  background-color: #F7F7F7;
}

.landing-page-resource-block__resources {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  max-width: 945px;
  @media screen and (max-width: 960px) {
    padding: 50px 20px;
  }
}

.landing-page-resource-block__resources-title-container {
  display: flex;
  justify-content: space-between;
}

.landing-page-resource-block__resources-title {
  & h1 {
    display: inline-block;
    font-size: 21px;
    padding: 0px 5px 5px 5px;
    z-index: 1;
  }

  & .blue-word {
    color: #276ce5;
  }
  & .see-more {
    color: #276ce5;
    float: right;
  }
}

.landing-page-resource-block__resources-links {
  display: inline-block;
  z-index: 1;
}

.landing-page-resource-block__resources-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  font-size: 16px;
  color: #276ce5;
}

.landing-page-resource-block__resources-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #666666;
  line-height: 26px;
  display: flex;
  align-items: center;
  padding: 0 5px 15px;
  z-index: 1;
  max-width: 600px;
  @media screen and (max-width: 600px)  {
    width: 100%;
  }
}

.landing-page-resource-block__cards {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 960px)  {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.landing-page-resource-block__carousel {
  display: flex;
  overflow: visible;
}
