.filter-container {
  padding: 15px 30px;
  height: 60px;
  border-bottom: 1px solid #E0E0E0;
  @media screen and (max-width: 600px ) {
    padding: 15px 20px;
  }
}

// Filtering styles //
.filter-container.flex-height {
  height: auto;
}
.filters-icon {
  height: 15px;
  padding: 0 3px 3px 0;
}
.refine-btn {
  border: none;
  padding: 5px 10px 5px 0;
  color: #276ce5;
  font-weight: 400;
  font-size: 15px;
}
.refine-btn.active {
  font-weight: 500;
}
.custom-refinement {
  height: 0;
  display: block;
  margin: 0;
  opacity: 0;
}
.custom-refinement.active {
  height: auto;
  margin: 20px 5px;
  opacity: 1;
}
.refinement-wrapper {
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  padding: 20px 0;
  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.refinement-title {
  font-size: 15px;
  font-weight: 600;
  color: #484848;
}
.refinement-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
  margin-top: 5px;
  @media screen and (max-width: 1200px ) {
    max-height: none;
  }
}
.refine-li {
  padding: 5px 0;
  color: #666666;
  @media screen and (max-width: 1200px ) {
    padding: 10px 0;
  }
  &.refine-li-disabled {
    color: #cecece;
  }
  &.active {
    color: #276ce5;
    font-weight: 500;
  }
}
.refine-checkbox {
  margin: 0 5px 0 0;
  width: auto;
}

.search-box {
  display: none;
}

.line-break {
  background-color: #f4f4f4;
  height: 1px;
  margin: 0 30px;
}
