.results-table-body {
  flex: 1 1 auto;
  padding: 20px 30px 20px 30px;
  background-color: #F3F5F7;
  @media screen and (max-width: 767px) {
    padding: 0 0 25px 0;
  }
}

.results {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  @media screen and ( max-width: 767px ) {
    margin-top: 0;
    flex-direction: column;
  }
}

.results-header {
  background: #fff;
  h1 {
    padding: 20px 30px 5px;
    font-size: 1.75rem;
    font-weight: bold;
  }
}

.results-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 auto;
  align-items: stretch;
  width: 55vw;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  background: #F3F5F7;
  height: 100%;
  @media screen and ( min-width: 1440px ){
    width: 40vw;
  }
  @media screen and ( max-width: 767px ) {
    order: 2;
    width: 100%;
  }

  > header {
    flex:0 0 auto;
    padding: 20px;
    display: table;
    width: 100%;
    @media screen and ( max-width: 767px ) {
      padding: 10px 20px;
    }
    .results-title {
      @media screen and ( max-width: 767px ) {
        font-size: 20px;
      }
    }
    .results-count {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }
  }
}

.add-resource {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 20px 0 30px;
  font-size: 0.87rem;
}

.add-resource-button {
  display: block;
  padding: 11px 14px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  color: #666;
  margin-top: 15px;
  &:hover, &:active {
    border: 1px solid #276ce5;
    color: #276ce5;
  }
}
